<div class="container-fluid h-100 text-dark">
  <div class="row justify-content-center align-items-center pt-5">
    <h2>This is a penalty calculator for Phase10.</h2>    
  </div>
  <hr/>
  <div class="row justify-content-center align-items-center h-100">
    <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
      <div class="">
        <p>Copy and paste the value of each penalty card. Wilds and Skips are valid as '15' and '25' or 'W' and 'S'.</p>
        <form action='calculate' method='post' class="">
        <div class="">
          <input class="" type="text" placeholder="1,4,6,8,W,15," name='nums' aria-label="">
          <button class="btn btn-primary" type="submit">
            Calculate
          </button>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>